# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/

# Environment Variables (Bảo mật API keys)
.env

# IDE / Editor
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/